{% extends '../inc/base.html' %}
{% load static %}
{% load custom_template_tags %}


{% block title %}
Makas | My Home
{% endblock %}

{% block heading %}
{% include "inc/header-menu.html" %}
{% endblock heading %}

{% block content %}

<div id="page-contents">
  <div class="container">
    <div class="row">

      <!-- Newsfeed Common Side Bar Left
          ================================================= -->
      <div class="col-md-3 static">
        <div class="profile-card">
          {% if myInfo.photo.strip %}
            <img src="{{ myInfo.photo.url }}" alt="user" class="profile-photo" />
          {% else %}
            <img src="{% static 'images/male.jpg' %}" alt="user" class="profile-photo" />
          {% endif %}
          
          <h5><a href="timeline.html" class="text-white">{{ myInfo.username|capfirst }}</a></h5>
          <a href="#" class="text-white"><i class="ion ion-android-person-add"></i> {{ count_d }} followers</a>
        </div>
        <!--profile card ends-->
        <ul class="nav-news-feed">
          <li><i class="icon ion-ios-paper"></i>
            <div><a href="home">My Newsfeed</a></div>
          </li>
          <li><i class="icon ion-ios-people-outline"></i>
            <div><a href="home-friend">Friends</a></div>
          </li>
          <li><i class="icon ion-images"></i>
            <div><a href="My-album">Images</a></div>
          </li>
          <li><i class="icon ion-ios-videocam"></i>
            <div><a href="My-videos">Videos</a></div>
          </li>
          <li><a href="#" onClick=""><img class="icon" src='{% static "images/rtv_logo.png" %}' width="45"></a></li>
          <li>&nbsp;<a href="#" onClick=""><img class="icon" src='{% static "images/tv1_logo.png" %}' width="45"></a>
          </li>
          <li class="chat-sidebar-icon" onclick='openSidebar()'>&nbsp;<button class="btn btn-success btn-sm"
              name="button">Online</button> </li>
        </ul>
        <!--chat block ends-->
      </div>
      <div class="col-md-7">

        <!-- Post Create Box
            ================================================= -->
        {% include "inc/post-content.html" with formpost=formpost %}

        <!-- Media
            ================================================= -->
        <div class="media">
          <div class="row js-masonry"
            data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "percentPosition": true }'>
            <div class="grid-sizer col-md-6 col-sm-6"></div>
            <div class="grid-item col-md-12 col-sm-12z">

              <div class="media-grid">


                {% for post in posts %}

                <div class="post-content">
                  {% if post.attachment %}
                  <img src="{{ post.attachment.url }}" alt="post-image" class="img-responsive post-image" />
                  {% endif %}
                  <div class="post-container">
                    {% if post.user.photo.strip %}
                      <img src="{{ post.user.photo.url }}" alt="user" class="profile-photo-md pull-left" />
                    {% else %}
                      <img src="{% static 'images/male.jpg' %}" alt="user" class="profile-photo-md pull-left" />
                    {% endif %}

                    <div class="post-detail">
                      <div class="user-info">
                        <h5><a href="timeline.html" class="profile-link">{{ post.user.firstname }}
                            {{ post.user.lastname }}</a> <span class="following">following</span></h5>
                        <p class="text-muted">Published on {{ post.createdon }}</p>
                      </div>
                      <div class="reaction">
                        <div class='lP form-inline'>
                          {% include "inc/post_likes.html" with id=post.id %}
                        </div>
                        <!---
                        <a class="btn text-blue"><i class="icon ion-settings"></i> 13</a>
                        <a class="btn text-red"> 
                          {% ifequal post.user.id myInfo.id %}
                            <i class="fa fa-trash"></i>
                          {% endifequal %} 
                        </a>
                        -->
                        
                      </div>
                      <div class="line-divider"></div>
                      <div class="post-text">
                        <p> {{ post.postcontent }} </i></p>
                      </div>
                      <div class="line-divider"></div>

                      <div id="comme">
                        {% include "inc/post-comment.html" with comments=comments %}
                      </div>

                      <div class="post-comment">
                        {% if myInfo.photo.strip %}
                          <img src="{{ myInfo.photo.url }}" alt="user" class="profile-photo-md pull-left" />
                        {% else %}
                          <img src="{% static 'images/male.jpg' %}" alt="user" class="profile-photo-md pull-left" />
                        {% endif %}
                        <input type="text" class="form-control" post_='{{ post.id }}' id="comment"
                          placeholder="Post a comment">
                      </div>

                    </div>
                  </div>
                </div>

                {% endfor %}

                {% include "inc/pagination.html" with page=posts %}

                <!--Popup End-->

              </div>
            </div>
            <br>
          </div>
        </div>
      </div>

      <!-- Newsfeed Common Side Bar Right
          ================================================= -->
      <div class="col-md-2 static">
        <div class="suggestions" id="sticky-sidebar">
          <h4 class="grey">Who to Follow</h4>
          {% for friendfind in whotofriend %}
          <div class="follow-user">
            <img src="{{ friendfind.photo.url }}" alt="" class="profile-photo-sm pull-left" />
            <div>
              <h5><a href="timeline.html">{{ friendfind.firstname }}</a></h5>
              <a href="#" class="text-green">Add friend</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer
    ================================================= -->
{% include 'inc/footer.html' %}


{% endblock content %}