{% extends '../inc/base.html' %}
{% load static %}
{% load custom_template_tags %}


{% block ay %}
  weeeee
{% endblock ay %}

{% block title %}
Makas | My Home
{% endblock %}

{% block heading %}
  {% include "inc/header-menu.html" %}
{% endblock heading %}

{% block content %}

<div id="page-contents">
  <div class="container">
    <div class="row">

      {% include "inc/sidebar.html" with myInfo=myInfo %}
      <div class="col-md-7">

        <!-- Post Create Box
            ================================================= -->
        {% include "inc/post-content.html" with formpost=formpost %}

        <!-- Media
            ================================================= -->
        <div class="media">
          <div class="row js-masonry"
            data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "percentPosition": true }'>
            <div class="grid-sizer col-md-6 col-sm-6"></div>
            <div class="grid-item col-md-12 col-sm-12z">

              <div class="media-grid">


                {% for post in posts %}
                

                <div class="post-content">

                  <div class="post-container">
                    {% if post.user.photo_available %}
                      <img src="{{ post.user.photo.url }}" alt="user" class="profile-photo-md pull-left" />
                    {% else %}
                      <img src="{% static 'images/male.jpg' %}" alt="user" class="profile-photo-md pull-left" />
                    {% endif %}
                    <div class="post-detail">
                      <div class="user-info">
                        <h5><a href="timeline.html" class="profile-link">{{ post.user.fullname }}</a> <span class="following">following</span></h5>
                        <p class="text-muted">Published {{ post.createdon|timesince }} Ago</p>
                      </div>
                      <div class="reaction">
                        <div class='lP form-inline'>
                          <a class="btn text-green" id="like" post_='{{ post.id }}'><i class="icon ion-thumbsup"></i>{{ post.likes.count }}</a>
                        </div>
                      </div>
                      <div class="post-text">
                        <p> {{ post.postcontent }} </i></p>
                      </div>
                    </div>
                  </div>
                  
                  {% if post.attachment_available %}
                  <img src="{{ post.attachment.url }}" alt="post-image" class="img-responsive post-image" />
                  {% endif %}
                  <div class="post-container">

                    <div class='post-detail'>
                      <div id="comme">
                        {% include "inc/post-comment.html" with comments=comments %}
                      </div>

                      <div class="post-comment">
                        {% if myInfo.photo_available %}
                          <img src="{{ myInfo.photo.url }}" alt="user" class="profile-photo-sm pull-left" />
                        {% else %}
                          <img src="{% static 'images/male.jpg' %}" alt="user" class="profile-photo-sm pull-left" />
                        {% endif %}
                        <input type="text" class="form-control" post_='{{ post.id }}' id="comment"
                          placeholder="Post a comment">
                      </div>
                    </div>

                  </div>
                </div>

                {% endfor %}

                {% include "inc/pagination.html" with page=posts %}

                <!--Popup End-->

              </div>
            </div>
            <br>
          </div>
        </div>
      </div>

      <!-- Newsfeed Common Side Bar Right
          ================================================= -->
      <div class="col-md-2 static">
        <div class="suggestions" id="sticky-sidebar">
          <h4 class="grey">Who to Follow</h4>



          {% for friendfind in whotofriend %}

            {% if friendfind not in myInfo.friends.all %}
            <div class="follow-user">
            
              {% if friendfind.photo_available %}
                <img src="{{ friendfind.photo.url }}" alt="" class="profile-photo-sm pull-left" />
              {% else %}
                <img src=" {% static 'images/male.jpg' %} " alt="" class="profile-photo-sm pull-left" />
              {% endif %}
              
              <div>
                <h5><a href="timeline.html">{{ friendfind.fullname }} </a></h5>
                <a href="#" add_this="{{ friendfind.id }}" class="addfriend text-green">Add friend</a>
              </div>
            </div>
            {% endif %}

          
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer
    ================================================= -->
{% include 'inc/footer.html' %}


{% endblock content %}