{% extends '../inc/base.html' %}
{% load static %}

{% block title %}
Makas | My Home
{% endblock %}

{% block heading %}
{% include "inc/header-menu.html" %}
{% endblock heading %}

{% block content %}

<div id="page-contents">
  <div class="container">
    <div class="row">

      <!-- Newsfeed Common Side Bar Left
          ================================================= -->
      <div class="col-md-3 static">
        <div class="profile-card">
          <img src="{{ myInfo.photo.url }}" alt="user" class="profile-photo" />
          <h5><a href="timeline.html" class="text-white">{{ myInfo.username|capfirst }}</a></h5>
          <a href="#" class="text-white"><i class="ion ion-android-person-add"></i> {{ count_d }} followers</a>
        </div>
        <!--profile card ends-->
        <ul class="nav-news-feed">
          <li><i class="icon ion-ios-paper"></i>
            <div><a href="home">My Newsfeed</a></div>
          </li>
          <li><i class="icon ion-ios-people-outline"></i>
            <div><a href="home-friend">Friends</a></div>
          </li>
          <li><i class="icon ion-images"></i>
            <div><a href="My-album">Images</a></div>
          </li>
          <li><i class="icon ion-ios-videocam"></i>
            <div><a href="My-videos">Videos</a></div>
          </li>
          <li><a href="#" onClick=""><img
                class="icon" src='{% static "images/rtv_logo.png" %}' width="45"></a></li>
          <li>&nbsp;<a href="#" onClick=""><img
                class="icon" src='{% static "images/tv1_logo.png" %}' width="45"></a></li>
          <li class="chat-sidebar-icon" onclick='openSidebar()'>&nbsp;<button class="btn btn-success btn-sm"
              name="button">Online</button> </li>
        </ul>
        <!--chat block ends-->
      </div>
      <div class="col-md-7">

        <!-- Post Create Box
            ================================================= -->
        <div class="create-post">
          <form action="/post" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-7 col-sm-7">
                <div class="form-inline">
                  <img src="{{ myInfo.photo.url }}" alt="" class="profile-photo-md" />
                  {{ formpost.postcontent }} {{ formpost.attachment }}
                </div>
              </div>
              <div class="col-md-5 col-sm-5">
                <div class="tools">
                  <button class="btn btn-primary pull-right" type="submit" name="publish">Publish</button>
                </div>
              </div>
            </div>
          </form>


        </div><!-- Post Create Box End -->

        <!-- Media
            ================================================= -->
        <div class="media">
          <div class="row js-masonry"
            data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "percentPosition": true }'>
            <div class="grid-sizer col-md-6 col-sm-6"></div>
            <div class="grid-item col-md-12 col-sm-12z">

              <div class="media-grid">

                {% for post in posts %}

                <div class="img-wrapper" data-toggle="modal" data-target=".modal-1">
                  <img src="{{ post.attachment.url }}" alt="{{ post.attachment.url }}"
                    class="img-responsive post-image" />
                </div>
                <div class="media-info">
                  <div class="reaction">
                    <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 63</a>
                    <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 12</a>
                  </div>
                  <div class="user-info">
                    <img src="{{ post.attachment.url }}" alt="" class="profile-photo-sm pull-left" />
                    <div class="user">
                      <h6><a href="#" class="profile-link"> {{ post.user.lastname }} </a></h6>
                      <a class="text-green" href="#">Friend</a>
                    </div>
                  </div>
                </div>
                {% endfor %}

                <!--Popup End-->

              </div>
            </div>
            <br>
          </div>
        </div>
      </div>

      <!-- Newsfeed Common Side Bar Right
          ================================================= -->
      <div class="col-md-2 static">
        <div class="suggestions" id="sticky-sidebar">
          <h4 class="grey">Who to Follow</h4>
          {% for friendfind in whotofriend %}
          <div class="follow-user">
            <img src="{{ friendfind.photo.url }}" alt="" class="profile-photo-sm pull-left" />
            <div>
              <h5><a href="timeline.html">{{ friendfind.firstname }}</a></h5>
              <a href="#" class="text-green">Add friend</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer
    ================================================= -->
{% include 'inc/footer.html' %}


{% endblock content %}