{% extends 'inc/base.html' %}
{% load static %}
{% block content %}


    <!--Header End-->
    <!-- Top Banner
    ================================================= -->
		<section id="banner">
			<div class="container">
        <!-- Sign Up Form
        ================================================= -->
        <div class="sign-up-form">
			<a href="index.html" class="logo"><img src="{% static 'images/logo.png' %}" alt="Makas"/></a>
			<h2 class="text-white">Find Friends</h2>
			<div class="line-divider"></div>
			<div class="form-wrapper">
				<p class="signup-text">Signin to connect to our network</p>
				<form action="/login" method="post" id="form-login">
                    {% csrf_token %}
                    {{ res }}
					<fieldset class="form-group">
						<input type="text" name="username" class="form-control" id="example-email" placeholder="Enter Username">
					</fieldset>
					<fieldset class="form-group">
						<input type="password" name="password" class="form-control" id="example-password" placeholder="Enter a password">
					</fieldset>

				<button class="btn-secondary" type="submit" name="submit">Signin</button>
                </form>
			</div>
			<br>
			<a href=" {% url 'register' %} ">I don't have an account?</a>
		</div><!-- Sign Up Form End -->
			</div>
		</section>
    <!-- Image Divider
    ================================================= -->
    <div class="hidden-sm hidden-xs"></div>

		<br>
      <div class="copyright">
        <p>Copyright Makas &copy; 2020 . All rights reserved</p>
      </div>
		</footer>

   



{% endblock content %}