{% extends '../inc/base.html' %}
{% load static %}
{% block heading %}
<header id="header-inverse">
      <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">

          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index-register.html"><img src="{% static 'images/logo.png' %}" alt="logo" /></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right main-menu">
              <li class="dropdown"><a href="{% url 'register' %}">Sign Up</a></li>
              <li class="dropdown"><a href="{% url 'index' %}">Sign In</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav>
    </header>
{% endblock heading %}

{% block content %}

<!-- Landing Page Contents
    ================================================= -->
    <div id="lp-register">
    	<div class="container wrapper">
        <div class="row">
        	<div class="col-sm-5">
            <div class="intro-texts">
            	<h1 class="text-white">Make Cool Friends !!!</h1>
            	<p>Makas is a social network can be used to connect people.Offers Networks, Opportunities, Jobs, Advitisment and lot more. <br /> <br />Why are you waiting for? </p>
              <button class="btn btn-primary" onclick="location.href='/'">Sign in</button>
            </div>
          </div>
        	<div class="col-sm-6 col-sm-offset-1">
            <div class="reg-form-container"> 
            
              <!-- Register/Login Tabs-->
              <div class="reg-options">
                <ul class="nav nav-tabs">
                  <li><a href=" {% url 'index' %} ">Login</a></li>
                  <li class="active"><a href="#register" data-toggle="tab">Register</a></li>
                </ul><!--Tabs End-->
              </div>
              
              <!--Registration Form Contents-->
              <div class="tab-content">
                <div class="tab-pane active" id="register">
                  <h3>Register Now !!!</h3>
                  <p class="text-muted">Be cool and join today. Meet millions</p>
                  <p> {{ msg }} </p>
                  <!--Register Form-->
                  <form name="registration_form" id='registration_form' autocomplete="off" action="/register" class="form-inline" method="post">
                    {% csrf_token %}
                    <div class="row">
                      <div class="form-group col-xs-6">
                        <label for="firstname" class="sr-only">First Name</label>
                        {{ forms.firstname }}
                      </div>
                      <div class="form-group col-xs-6">
                        <label for="lastname" class="sr-only">Last Name</label>
                        {{ forms.lastname }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-xs-12">
                        <label for="email" class="sr-only">Username</label>
                        {{ forms.username }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-xs-12">
                        <label for="email" class="sr-only">Email</label>
                        {{ forms.email }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-xs-12">
                        <label for="password">Password</label>
                        {{ forms.password }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-xs-6" >
                        <p class="birth"><strong>Date of Birth</strong></p>
                        {{ forms.dateofbirth }}
                      </div>
                      <div class="form-group col-xs-6" >
                        <p class=""><strong>Gender</strong></p>
                        {{ forms.gender }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-xs-6">
                        <label for="city">City</label>
                        {{ forms.city }}
                      </div>
                      <div class="form-group col-xs-6">
                        <label for="country">Country</label>
                        {{ forms.country }}
                      </div>
                    </div>
                  <!--Register Now Form Ends-->
                  <p><a href=" {% url 'index' %} ">Already have an account?</a></p>
                  <button class="btn btn-primary" type="submit">Register Now</button>
                  </form>
                </div><!--Registration Form Contents Ends-->
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6">
          
            <!--Social Icons-->
            <ul class="list-inline social-icons">
              <li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
              <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
              <li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
              <li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
              <li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>

{% endblock content %}